<html>
    <body>
        hiii
        <script>
            function sendLocalIPToServer() {
                fetch('/ip', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ ip: window.location.hostname })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('There was a problem with your fetch operation:', error);
                });
            }
            
            // Call the function to send the local IP address when the page loads
            window.onload = function() {
                sendLocalIPToServer();
            };
            </script>            
    </body>
</html>